<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Каталог</title>
    <link rel="stylesheet" href="../static/styles/main_page.css">
    <link rel="stylesheet" href="/styles/main_page">
    <link rel="stylesheet" href="../static/styles/catalog.css">
</head>
<body onload="onloud()">
<header class="header">
    <div class="container">
        <div class="header_body">
            <div class="logo">
                <p>Тут могло быть ваше лого</p>
            </div>
            <div class="nav">
                <p class="nav_key">
                    <a href="#" class="nav_key_link">Главная</a>
                </p>
                <p class="nav_key">
                    <a href="#" class="nav_key_link">Каталог</a>
                </p>
                <p class="nav_key">
                    <a href="#" class="nav_key_link">О нас</a>
                </p>
            </div>
            <div class="basket">
                <p class="basket_text">Корзина</p>
            </div>
            <div class="auth">
                <p class="auth_text">Войти</p>
                <p class="auth_text">Регистрация</p>
            </div>
        </div>
    </div>
</header>
<main class="main_body">
  <div class="container">
      <div class="page">
          <div class="category_block"  id="Timber" onclick="onclick_catalog(event)">
              <div class="category_name">
                  <p>Древесина</p>
              </div>
              <div class="category_img">
                  <img src="">
              </div>
          </div>
      </div>
  </div>
</main>
<footer class="footer">
  <div class="container">
    <div class="footer_body">

    </div>
  </div>
</footer>
</body>
<script src="../static/scripts/catalog_test.js"></script>
</html>