<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Аккаунт</title>
    <link rel="stylesheet" href="../static/styles/main_page.css">
    <link rel="stylesheet" href="/styles/main_page">
    <link rel="stylesheet" href="/styles/catalog">
    <script src="/scripts/catalog"></script>
</head>
<body onload="onload_catalog()">
<header class="header" th:insert="~{blocks/header :: header}"></header>
<main class="main_body">
    <div class="container" th:insert="~{blocks/catalog_templates :: catalog-category-template}" >

    </div>
</main>
<footer class="footer">
    <div class="container">
        <div class="footer_body">
        </div>
    </div>
</footer>
</body>

</html>